<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AmyDaveWedding.mdf;Initial Catalog=AmyDaveWedding;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Facebook.AppId" value="" />
    <add key="Facebook.AppIdEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAACaS0izJFUQqeJetBl1NPOdce5x4UfFsF3z/dkVKgFJzAAAAAAOgAAAAAIAACAAAAA6Ttq/GTHzI4Ela681AgQ3j6YvXqf2TGbujbNtgIq0siAAAAB1/YJrxn6ipkDxOf3E/79xBVA/eWXclyRqwFz+a0PjzUAAAAA1Dq0OFxoZXQc5RfmLHlMwCWV2kPqAx+g6QvktHlrZFoKKUL3UH3/wbcF2ZricxTJNTNeJwnGrLZAeG/U4vMwl" />
    <add key="Facebook.AppSecret" value="" />
    <add key="Facebook.AppSecretEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAADS7OMkRiUmpnoCE1rDLVJVd3MLIqWEvZNOc6m4+T2f8wAAAAAOgAAAAAIAACAAAAAH25uN4RO58c6d5o07RlLFoBP6vi+0xxzU5BJDwZNwZlAAAAA4stptUddVvFUuM3N+D3i8yy9gfsbM4DjrWBfHxgfmGVTAIIcDhuy9GR0r4y8gqkjPvLjM2zsfJIKZB8LVzfQNsYb4wsDXX3PyR0F7LsHy+0AAAADSmbZpswqCthIfpNGmYqugc4n59qh1EuLLE48DWiDnVYQ7A/KwgQEJoyVdjOqNUCrAeXZu4Wu6KL5rTSb849Yy" />
    <add key="Twitter.ConsumerKey" value="" />
    <add key="Twitter.ConsumerKeyEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAABMupz9Tthn1tliGvLVw6V84mKQRCkChPMbDxv3MNUEWgAAAAAOgAAAAAIAACAAAAD9xTL+IMq6yze8aZrjSjJVduRzMIetBbDSkLY71Dnn9UAAAAAg+KvXPgm0M2a6ha57r9uHFntFifcD6iRWkPPrgysHOac5xr5xQ3IfM+KZkgbDhJAjhakXv1YDmf8T7/2Mb8mxQAAAAPghtYf8blSrj7BGg/zsjZBTPkEvB+Ht0ve8bJnKM6fxFPtZQz1jqs22ahY0y9WJs6SX85FBb0qGPjkLxvFihfc=" />
    <add key="Twitter.ConsumerSecret" value="" />
    <add key="Twitter.ConsumerSecretEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAAB8t05v+RJQj67pG4bgI2o8AuADpAwONsOogKMUQ4dMUwAAAAAOgAAAAAIAACAAAABnsrdHZIZ52hJtqQce/+x4CfQd5tEQCWFPFYZx54dMF3AAAADwkwiU5uLMi6iaumrOg+dp2AE6xM30dPiR3OcnSPBm4JeDno7Yozj/Oxl/iiXcpL3M7M+2AS2hXTTlUpXJtW4mweSRgxU4uQFWBJkeDgSDWhzi+2wBCd9j3h/4LIuemuSyuW+LJHvTSrLKoWdAwwaRQAAAAPrlyZEFx33nM89uqojs1/sOa6Mu2yXsqihdKPO7YHBV0ygo1bZhYVuRfNUYPYzHPfBaqeLEUa85tipscx4MHWc=" />
    <add key="GoogleAnalyticsTrackingID" value="" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>