<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\AmyDaveWedding.mdf;Initial Catalog=AmyDaveWedding;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Facebook.AppId" value="" />
    <add key="Facebook.AppIdEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl9q02c8r00eEJC2eOlscxgAAAAACAAAAAAAQZgAAAAEAACAAAACZx9AvCWuTXQKfqdRcyOnv1ZpB0B617Sn29aPY+bDNggAAAAAOgAAAAAIAACAAAACG1kjlKNvhQtSisU1EIjto4XNNYpQ7M8nfsep59ELW5BAAAAAKQ+8nKz1bK8UbRxfj9BoBQAAAAExnIVHOyidnNMal7exPaB4LH9n5JpYE2U3yCMO31jUs03HzQXiYz49CnSjg+FqFdhtvkNL1VbR6fIxW0cp789M=" />
    <add key="Facebook.AppSecret" value="" />
    <add key="Facebook.AppSecretEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl9q02c8r00eEJC2eOlscxgAAAAACAAAAAAAQZgAAAAEAACAAAABAS1w35tKTM+ecBhAME1Z94aqWjcZAcsGdG0dk6ZKoiAAAAAAOgAAAAAIAACAAAABag02VKt2x2aDe3W57/C0YR+sP3nB6orWIzq47BUJJMTAAAAB6qxpg9mDGv/sDrGEg+9s3NbEDhPrKgu2U6robalARm3rG13ut2ZG5zcvViEqYHbNAAAAAN1URtIaGJU1PA6/rOdrosuoNT4P8hDxbqIpQMuV6CIFbuPUgSG3nKSKtoJG6Syf6UVlcJHoAIJaYk3z2h+TJXw==" />
    <add key="Twitter.ConsumerKey" value="" />
    <add key="Twitter.ConsumerKeyEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl9q02c8r00eEJC2eOlscxgAAAAACAAAAAAAQZgAAAAEAACAAAABtH1Mie31zQDqOEtkg78y/BgKM6r2SVzfLtVyphkrk9QAAAAAOgAAAAAIAACAAAACoeBHcObcZK00dKuBoSzCzEF3lea0dtH8L7GJskZCWNSAAAACpQQ8Mqkggl9vuYxxV8QO4DxjMaXKnlZZaPMnMi91CvkAAAABtYjQgfXDWfunbkbyc5GIKETkIxEAfPI6v9o77OE99XCTm8DE3p9LYTGFRLY/k0+WLrITvRL6xdVL5QcULkb5S" />
    <add key="Twitter.ConsumerSecret" value="" />
    <add key="Twitter.ConsumerSecretEncrypted" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl9q02c8r00eEJC2eOlscxgAAAAACAAAAAAAQZgAAAAEAACAAAACO6mX3rYM+GszThnL4KCyz5xptJybaWbtfG+V43mpqaAAAAAAOgAAAAAIAACAAAAD/5VSq50y86gtLJ92ZUdX1ojrLhgwga7v+6d1mh3nHvkAAAAA54wfRG0g8tVzVsaf5j+rddPtkpI5gbZx2Lis934vhRqpt6uJh3hDzxsgT1cUk7U81aWvQyB99I3jjESxDGL27QAAAAPS/hqv2YCWtulMC6p7t6hCEDNrjGuJE05nY5nZOcG9Pw9MNZ7O3vXMSbjxfQWWniFgVwHv0iJtJujY79RRqnL0=" />
    <add key="GoogleAnalyticsTrackingID" value="" />
    <add key="Crypo.Type" value="DPAPI" />
    <add key="Crypto.AesKey" value="BF5DE5C2EF14770A3665F4E20EF7E383083F59F4229C5C43EB9412659E50E689" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>