<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="Facebook.AppIdEncrypted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAACaS0izJFUQqeJetBl1NPOdce5x4UfFsF3z/dkVKgFJzAAAAAAOgAAAAAIAACAAAAA6Ttq/GTHzI4Ela681AgQ3j6YvXqf2TGbujbNtgIq0siAAAAB1/YJrxn6ipkDxOf3E/79xBVA/eWXclyRqwFz+a0PjzUAAAAA1Dq0OFxoZXQc5RfmLHlMwCWV2kPqAx+g6QvktHlrZFoKKUL3UH3/wbcF2ZricxTJNTNeJwnGrLZAeG/U4vMwl"/>
    <add key="Facebook.AppSecretEncrypted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdwJvqoTyxk+py5/Q3maIMgAAAAACAAAAAAAQZgAAAAEAACAAAADS7OMkRiUmpnoCE1rDLVJVd3MLIqWEvZNOc6m4+T2f8wAAAAAOgAAAAAIAACAAAAAH25uN4RO58c6d5o07RlLFoBP6vi+0xxzU5BJDwZNwZlAAAAA4stptUddVvFUuM3N+D3i8yy9gfsbM4DjrWBfHxgfmGVTAIIcDhuy9GR0r4y8gqkjPvLjM2zsfJIKZB8LVzfQNsYb4wsDXX3PyR0F7LsHy+0AAAADSmbZpswqCthIfpNGmYqugc4n59qh1EuLLE48DWiDnVYQ7A/KwgQEJoyVdjOqNUCrAeXZu4Wu6KL5rTSb849Yy"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
