@{
    ViewBag.Title = "Home Page";
}
@section css {
    @Styles.Render("~/Content/weddingCss")
    @*<link href="~/Content/theme.css" rel="stylesheet" />*@
    @*<link href="~/Content/prettyPhoto.css" rel="stylesheet" />*@
}
@section scripts {
    @Scripts.Render("~/bundles/weddingJavaScript")
    @*<script src="~/Scripts/jarallax-0.2.4b.js"></script>*@
    @*<script src="~/Scripts/wedding-home.js"></script>*@
}

<!-- Navigation Bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <a class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#home">Dave & Amy</a>

        <div class="navbar-collapse collapse pull-right">
            <ul id="nav" class="nav navbar-nav">
                <li class="active">
                    <a href="#home">Home</a>
                </li>
                @*<li>
                    <a href="#about">About</a>
                </li>*@
                @*<li>
                    <a href="#gallery">Gallery</a>
                </li>*@
                <li>
                    @Html.ActionLink("RSVP", "Rsvp", "Account")
                </li>
                <li>
                    <a href="#wedding">Wedding</a>
                </li>
                <li>
                    <a href="#gifts">Registry</a>
                </li>
                <li>
                    <a href="#venue">Location</a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

@{
    Html.RenderPartial("~/Views/Home/PartialTitle.cshtml");
}

@*@{
    Html.RenderPartial("~/Views/Home/PartialAbout2.cshtml");
}*@

@{
    Html.RenderPartial("~/Views/Home/PartialWedding.cshtml");
}

@{
    Html.RenderPartial("~/Views/Home/PartialGifts.cshtml");
}

@*@{
        Html.RenderPartial("~/Views/Home/PartialGallery.cshtml");
    }*@

@{
    Html.RenderPartial("~/Views/Home/PartialContact.cshtml");
}
@*@{
    Html.RenderPartial("~/Views/Home/PartialContact_bak.cshtml");
}*@

@*<div id="debugPanel" class="bs-sidebar" data-spy="affix" data-offset-top="200">
    Test debug panel<br />
    More</br>
    Even more!
</div>*@
