@{
    // Layout = null;
}

<div class="welcome-wrap">
    <a id="wedding"></a>
</div>

<!-- start: wedding-pre -->
<div class="wedding-pre section-background-generic">
    <div class="container">
        <div class="page-header"><h1>Wedding</h1></div>
        @*<h2 class="slogan">Our Wedding Information</h2>*@
    </div>
</div>
<!-- end: wedding-pre -->

<!-- start: wedding -->
<div class="wedding">
    <div class="container">

        <div class="row intro-row">
            @*<div class="col-md-offset-1 col-md-4">
                <img width="340" src="/Images/lock closeup 3.png">
            </div>*@

            <div class="image-outer hidden-xs hidden-sm col-md-offset-1 col-md-4 col-sm-6 Ximage-span">
                <img class="img-circle" src="~/Images/lock_closeup.png" alt="" />
                @*<div class="image-inner">
                    <img class="img-circle" src="~/Images/lock_circle.png" alt="" />
                </div>*@
            </div>

            <div class="intro col-lg-5 col-md-6 col-md-offset-0 xcol-md-offset-1 col-sm-10 col-sm-offset-1">
                @*<h2>Reception</h2>*@
                <p>
                    Dave <span class="ampersand">&</span> Amy will be wed on the rooftop deck of Solera in downtown Minneapolis on Saturday, September 6th, 2014.
                    Please arrive at 6:30pm, take the elevator up to the rooftop, grab a drink, and find a seat. The ceremony will begin at 7:00.
                    Immediately following the nuptials, guests are invited downstairs to our cocktail <span class="ampersand">&</span> dessert reception.
                    Grab another drink, enjoy a treat, listen to some speeches, and then dance until the wee hours.
                </p>
                <div class="referral">
                    Hotel info can be found in the <a class="internalLink" href="#venue">Location</a> section.
                </div>
            </div>

        </div>

        @*<div class="row details-row">
            <div class="col-sm-5 col-sm-offset-1">
                <p>
                    We ask that guests arrive at around 6:30pm. You'll be directed to the rooftop deck, where the ceremony will commence at 7:00.
                    By 7:30, everyone will head downstairs to Solera's Barcelona room.
                    After the newlyweds have been thoroughly flattered and humiliated by speeches, we'll open the dance floor.
                    The DJ will be spinning the bride and groom's favorite tunes (and steadfastly ignoring bizarre requests)
                    until the party ends, sometime between 1:00am and 2:00am.
                    If you need an escape, there's an outdoor terrace reserved just for our guests.
                </p>
            </div>
            <div class="col-sm-5">
                <p>
                    We're having a cocktail-style reception, which is to stay that it starts later in the evening
                    and there will be no dinner service (we recommend that you eat dinner beforehand).
                    In addition to our splendid company, we'll offer an assortment of desserts,
                    as well as snacks served throughout the night.
                    Perhaps most importantly, we will have hosted wine, sangria, and a selection of beers (until we run out).
                    If you'd prefer other cocktails, there will be a full cash bar.
                </p>
            </div>
        </div>*@

        <div class="section-footer hidden-xs hidden-sm">
            <img src="~/Images/squiggle.png" alt="" />
        </div>

    </div>
    @*<a id="@ViewBag.NextAnchor"></a>*@
</div>
<!-- end: wedding -->
