@{
    // Layout = null;
}

<div class="welcome-wrap">
    <a id="wedding"></a>
</div>

<!-- start: wedding-pre -->
<div class="wedding-pre section-background-generic">
    <div class="container">
        <div class="page-header"><h1>Wedding</h1></div>
        @*<h2 class="slogan">Our Wedding Information</h2>*@
    </div>
</div>
<!-- end: wedding-pre -->

<!-- start: wedding -->
<div class="wedding">
    <div class="container">

        <div class="row intro-row">
            @*<div class="col-md-offset-1 col-md-4">
                <img width="340" src="/Images/lock closeup 3.png">
            </div>*@

            <div class="image-outer hidden-xs hidden-sm col-md-offset-1 col-md-4 col-sm-6 Ximage-span">
                <img class="img-circle" src="~/Images/lock_closeup.png" alt="" />
                @*<div class="image-inner">
                    <img class="img-circle" src="~/Images/lock_circle.png" alt="" />
                </div>*@
            </div>

            <div class="intro col-lg-5 col-md-6 col-md-offset-0 xcol-md-offset-1 col-sm-10 col-sm-offset-1">
                @*<h2>Reception</h2>*@
                <p>
                    Dave <span class="ampersand">&</span> Amy will be wed on the rooftop deck of Solera in downtown Minneapolis on Saturday, September 6th, 2014.
                    The ceremony will begin at 7:00pm.  
                    Immediately following the nuptials, guests are invited downstairs to a cocktail reception.
                    Grab a drink, enjoy a treat, listen to some speeches, and then dance until the wee hours.
                </p>
                @*<div class="referral">
                    Be sure to <a href="/Account/Rsvp">RSVP</a> if you haven't yet.
                    <br/>
                    Hotel info can be found in the <a class="internalLink" href="#venue">Location</a> section.
                </div>*@
            </div>

        </div>

        <div class="section-footer hidden-xs hidden-sm">
            <img src="~/Images/squiggle.png" alt="" />
        </div>

    </div>
    @*<a id="@ViewBag.NextAnchor"></a>*@
</div>
<!-- end: wedding -->
