@{
    // Layout = null;
}

<div>
    <a id="gifts"></a>
</div>

<!-- start: gifts-pre -->
<div class="gifts-pre section-background-generic">
    <div class="container">
        <div class="page-header"><h1>Registry</h1></div>
    </div>
</div>
<!-- end: gifts-pre -->

<!-- start: gifts -->
<div class="gifts">
    <div class="container">

        <div class="row">
            <div class="intro col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
                Your presence at our Wedding is the greatest gift of all.
                However, if you wish to honor us with a gift, here are some options:
            </div>
        </div>

        <div class="row">
            <div class="option col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                <div class="icon box col-sm-3">
                    <span class="glyphicon glyphicon-heart"></span>
                </div>
                <div class="summary box col-sm-9">
                    <p class="summary-text">
                        In lieu of a gift to us, we would be honored if you contribute toward the medical fund of Charlie Hoeft.
                    </p>
                    <div class="show-detail">
                        click for more <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
                <div class="detail col-xs-12">
                    <p>
                        Charlie is the two year-old son of Amy's friends Sarah and Jeff.
                        Diagnosed with Diffuse Mesangial Sclerosis, he's currently awaiting a kidney transplant.
                        Please visit the family's web site for Charlie's story and info on how to help:
                        <a class="link" href="http://hoeftfamily.com/charlie.html">hoeftfamily.com</a>
                    </p>
                    <div class="hide-detail">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="option col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                <div class="icon box col-sm-3">
                    <span class="glyphicon glyphicon-plane"></span>
                </div>
                <div class="summary box col-sm-9">
                    <p class="summary-text">
                        We are very much looking forward to a honeymoon
                        and any contribution towards that will be sincerely appreciated.
                    </p>
                    <div class="show-detail">
                        click for more <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
                <div class="detail col-xs-12">
                    <p>
                        If you have a <a href="https://www.paypal.com">PayPal</a> account that's linked to your bank account,
                        you can use the Send Money tab with our email address:
                        <span class="email-replace link"></span>
                    </p>
                    <div class="hide-detail">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="option col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                <div class="icon box col-sm-3">
                    <span class="glyphicon glyphicon-gift"></span>
                </div>
                <div class="summary box col-sm-9">
                    <p class="summary-text">
                        We are already blessed with love, laughter and a house full of furniture.
                        Accordingly, we have assembled a small gift registry.
                    </p>
                    <div class="show-detail">
                        click for more <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
                <div class="detail col-xs-12">
                    <p>
                        <a href="http://www.crateandbarrel.com/Gift-Registry/Amy-Keast-and-David-Poyas/r5133057">Click here to browse our registry</a>
                        at Crate <span class="ampersand">&</span> Barrel.
                        If you'd prefer to shop in-person, you can look up our registry under either of our names.
                    </p>
                    <div class="hide-detail">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-footer hidden-xs hidden-sm">
            <img src="~/Images/squiggle.png" alt="" />
        </div>

    </div>
    @*<a id="@ViewBag.NextAnchor"></a>*@
</div>
<!-- end: gifts -->
