@{
    // Layout = null;
}

<!-- start: PartialTitle2 -->
<div id="homeFullScreen" class="header-wrap">
    <header class="clearfix">

        <div class="hidden-xs">
            <img class="img-logo" src="~/Images/Chalkboard_340.png">
        </div>
        <div class="visible-xs">
            <img class="img-logo" src="~/Images/Chalkboard_280.png">
        </div>

        @if (ViewBag.Invitee == null || ViewBag.Invitee.Attending == null)
        {
            <a href="/Account/Rsvp" class="rsvp btn btn-default">Click here to <span>RSVP</span></a>
        }

        @*<div class="img-circle centerWithJavaScript">

            <img class="decore-top" src="~/Images/decor-1.png" alt=""/>

            <h1><span class="increase-space">Dave &</span> Amy</h1>
            <h3>Are Getting Married</h3>
            <h4><span style="white-space:nowrap">On Saturday,</span> <span style="white-space:nowrap">September 6, 2014</span></h4>

            <img class="decore-bottom" src="~/Images/decor-3.png" alt=""/>

        </div>*@
        <!--<img class="logo" src="~/Images/logo3.png">-->

</header>
</div>
<!-- end: PartialTitle2 -->
