@model AmyDaveWedding.Models.RsvpModel

@{
    Layout = "~/Views/Account/_AccountLayout.cshtml";
    ViewBag.Title = "RsvpConfirm";
}

<div class="rsvp-confirm">

    <h2>Thank you for responding!</h2>

    @if (Model.Attending == true)
    {
        
    }
    else
    {
        
    }

    <p class="rsvp-change">
        Remember that you can return and update your RSVP at any time.
    </p>

    <a href="/" class="btn btn-primary">Return to Home Page</a>

</div>