body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Navbar */

.navbar {
    -webkit-border-radius: 9px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius: 9px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-radius: 0 0 9px 9px;
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
}
.navbar .navbar-brand {
    font-size: 20px;
    padding-left: 22px;
}
.navbar ul li a:active,
.navbar ul li a.active {
    background-color: #3a3a3a;
}
.navbar ul.navbar-right li:last-child a {
    padding-right: 22px;
}
.navbar-affixed {
    margin-bottom: 0;
}
.navbar-wrapper {
    margin-bottom: 10px;
}
.navbar-affixed .affix-top {

}
.navbar-affixed.affix {
    top: 0;
    width: 100%;
}

/* Jumbotron */

.masthead {
    background: url('/Images/Coral_Charm_Peonies.jpg') no-repeat 30% 57%;
}

.masthead .container {
    padding: 40px 0;
}
.masthead h1 {
    margin: 0;
    font-family: 'Oleo Script', cursive;
    color: white;
    /*font-weight: 400;*/
    font-size: 60px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000,
                 -1px 1px 0 #000,
                  2px 2px 0 #000;
}

@media (max-width: 767px) {
}

/* Login */

@media (max-width: 767px) {
    #socialLoginList {
        margin-bottom: 30px;
    }

    #loginForm {
        margin-top: 30px;
    }

    #socialLoginList hr,
    #loginForm hr {
        margin-bottom: 10px;
    }
}

#loginForm .login-button {
    float: left;
}

#loginForm .remember-me {
    float: left;
    margin-left: 20px;
}

@media (max-width: 767px) {
    #socialLoginList .btn-block {
        width: 280px;
    }
}
#socialLoginList .btn-block + .btn-block {
    margin-top: 12px;
}

/* External Login Confirmation */

#ext-conf-form .user-info > p {
    margin-bottom: 20px;
}

#ext-conf-form .select-invitee .invitee-list ul {
    margin-bottom: 5px;
}

#ext-conf-form .select-invitee .who-are-you div {
    font-weight: bold;
}

#ext-conf-form .select-invitee .invitee-list .list-group-item > span {
    line-height: 2.2;
}

#ext-conf-form .select-invitee .invitee-list .btn i {
    margin-right: 3px;
}

@media(max-width:767px) {
    .manage-account > div:first-child {
        margin-bottom: 50px;
    }
}

.rsvp h4 {
    padding-left: 10px;
}
.rsvp-form .btn-group .btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17.5px;
}
.rsvp-form .btn-group .btn-success {
    background-color: #8CCA8C;
    border-color: #B7D5B7;
}
.rsvp-form .btn-group .btn-danger {
    background-color: #EBA4A2;
    border-color: #EB9390;
}
/* when the "yes" button is active or hovered/focused: */
.rsvp-form .btn-group .btn-success:hover,
.rsvp-form .btn-group .btn-success:focus,
.rsvp-form .btn-group .btn-success:active,
.rsvp-form .btn-group .btn-success.active {
    background-color: #37BD37;
    border-color: #6EA56E;
}
/* when the "no" button is active or hovered/focused: */
.rsvp-form .btn-group .btn-danger:hover,
.rsvp-form .btn-group .btn-danger:focus,
.rsvp-form .btn-group .btn-danger:active,
.rsvp-form .btn-group .btn-danger.active {
    background-color: #d2322d;
    border-color: #d43f3a;
}

.rsvp-form .form-group label {
    font-size: 16px;
}

@media(max-width:767px) {
    .rsvp-form .popover-button {
        margin-bottom: 10px;
    }
}

.rsvp-form .form-group.note textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
}

.rsvp-form .form-group.note span.field-validation-error {
    display: block;
}

.rsvp-confirm h2,
.rsvp-confirm p {
    margin-bottom: 20px;
}
.rsvp-confirm .rsvp-change {
    font-style: italic;
    margin-left: 6px;
}
